<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
  body
    nav
      a(href="/") Home | 
      a(href="/products") Stickers | 
      a(href="/products/new") Agregar sticker | 
      a(href="/cart") Carrito

      form(action="/products/search", method="post", style="display:flex")
        input(type="search", name="search", placeholder="Buscar...")
        input(type="submit", value="Buscar!")
    
    block content